<div class="ftr_center">
            <!--footer nav--> <!--active link : <a href="#" class="active">-->
            <ul>
                                        <li><a href="/how-it-works">How it works</a></li>
                        <li>|</li>
                        <li><a href="/about-matchmaking-for-entrepreneurs">About Us</a></li>
                        <li>|</li>
                        <li><a href="/entrepreneur-private-network">Partner Networks</a></li>
                        <li>|</li>
                         <li><a target="_blank" href="/privacy-policy">Privacy</a></li>
                        <li>|</li>
                        <li><a target="_blank" href="/terms-of-use">Terms</a></li>
                        <li>|</li>
                        <li><a href="/contact-entrepreneurs">Contact Us</a></li>
                        <li>|</li>
                        <li><a href="/frequently-asked-questions">FAQs</a></li>
                        <li>|</li>
                        <li><a href="/media">Press</a></li>
                        <li>|</li>
                        <li><a target="_blank" href="http://www.cofounderslab.com/find-a-co-founder/">Blog</a></li>
                               
            </ul>
        
            <!--footer social-->
            <div class="footer_right">
                <div class="social">
                    <a class="fb" target="_blank" href="http://facebook.com/cofounderslab"></a>
                    <a class="tw" target="_blank" href="http://twitter.com/cofounderslab"></a>
                    <div class="clear"></div>
                </div>
                
                <!--footer logo-->
                <div class="logo_foot">
                    <span>Copyright &copy; 2013</span>
                    <a class="ftr_logo" href="#"></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
