<div class="header" id="header">
    		<div class="top_wrap">
                <div class="top_centerwrap">
                    <!--logo-->
                    <div class="logo">
                    	                                <a href="/">
                                    <img width="258" height="47" alt=" " src="/assets/n/images/logo.png">
                                </a>
                                            </div>
                    <div class="top_rightwrap relative">
                        
            							
                        <!--signup-->
                        <div class="signup">
                            <ul>
                                <li><a href="/join-a-startup-first-step">SIGN UP</a></li>
                                <li id="user_login"><a href="#" class="user_login">LOGIN</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="dyd_line">&nbsp;</div>
                        <!--nav-->
                        <div id="nav">
                            <ul>
                                <li><a href="/pro-membership" class="pro_btn active">GO PRO</a></li>
                                										<li><a href="/about-matchmaking-for-entrepreneurs">ABOUT</a></li>
                                		<li><a href="/entrepreneurs-meetup-networking">EVENTS</a></li>
								                                <li class="resource_not_log"><a href="/Resources">RESOURCES</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        
                        
						  
						  
                        <div class="clear"></div>
                        <div class="dropdown_login" style="display: none;">
                            <div class="bg_drop"></div>
                            <div class="drop_cnt">
                                <fieldset class="signin_menu" id="signin_menu">
                                <form class="signin_window" method="post" id="signin_window" name="signin_window" action="">
                                    <input type="text" id="userid" name="userid" tabindex="20" title="username" class="input_feeld" placeholder="Email" value="">
                                    <div id="invalid_email" style="color:#990033;"></div>
                                    <input type="password" id="password" name="password" tabindex="21" title="password" class="input_feeld mar_top15" placeholder="Password" value="">
                                    <div id="invalid_msg" style="color:#990033;"></div>
                                    <div id="div_process" class="detais_green" style="margin-left:50px; color:#00CC66;"></div>
                                    <input type="button" id="signin_submit" name="signin_submit" value="Sign in" tabindex="6" class="signin_btn">
                                <div class="remember">        				
                                    <input type="checkbox" id="remember_me" name="remember_me" class="remember_me" value="1" tabindex="7">
                                    <label class="remember_me" for="remember">Remember me</label>
                                    <div class="forgot"> <a href="/forgot-password">Forgot your password ?</a> </div>
                                </div>
                                
                                <div class="clear"></div>
                                    <!--social-->
                                    <div class="or"><hr><span class="or">OR</span></div>
                                    <div class="logwt">Login with : </div>
                                    <div class="sign_icons">
                                        
                                        <a class="in_01" href="/Thirdpartysignin/linkedin"></a>
                                        <a class="tw_01" href="/Thirdpartysignin/twitter"></a>
                                        <a class="fb_01" href="/Thirdpartysignin/facebook"></a>
                                        
                                        
                                    </div>
                                
                                
                                <div class="clear"></div>
                                </form>
                                </fieldset>
                            </div>
						</div>
                                  		
                    </div>
                    <div class="clear"></div>
                </div>
			</div>
            
            
        </div>
